{% extends 'layout.twig' %}
{% block title %}Packages{% endblock %}
{% block content %}
    <h1>Packages</h1>
    <ul>
        {% for package in packages %}
            <li>
                <a href="{{ package.getFilename }}">{{ package.getName }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
